

bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.ds_store
*.swp
*.swo
packages/
*.log


.vs/
.vscode/
*.userprefs
*.[Oo]bj
*.class
*.cr
*.csproj.user


[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
